/*    heading font  -font-family: 'Metamorphous', cursive;  */
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
/*    paragraph font  -font-family: 'Kreon', serif;   */
@import url('https://fonts.googleapis.com/css2?family=Kreon&display=swap');
body{
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.4),  rgba(0,0,0,0.4)),url(https://images.unsplash.com/photo-1578677103277-409d1213df61?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1086&q=80);
  background-size: cover;
  position: absolute;
  background-repeat: no-repeat;
}
h1{
  font-family: 'Metamorphous', cursive;
  font-size: 3.5rem;
}
/*    start of header styles    */
header nav .container-fluid{
  background-color: #ECD896;
  margin-top: -0.47rem;
  margin-bottom: -0.47rem;
}
header nav img{
  width: 15rem;
}
/*    end of header styles    */
/*    start of introductory section styles    */
section.introduction{
  background-color: rgba(236, 216, 150, 0.7);
  margin: 1rem 10rem;
  text-align: center;
  border-radius: 7px;
  padding: 1rem;
}
p.intro{
  font-weight: 800;
  color: black;
  font-size: 1.3rem;
}
section.introduction p i{
  color: #322E6F;
}
@media (min-width: 350px){
  section.introduction{
    background-color: rgba(236, 216, 150, 0.7);
    margin: 1rem 1rem;
    text-align: center;
    border-radius: 7px;
    padding: 0.1rem;
    color: #322E6F;
  }
  h1{
    font-size: 2rem;
  }
  p.intro{
    font-weight: 400;
    color: black;
    font-size: 1rem;
  }
}
@media (min-width: 768.9px){
  section.introduction{
    background-color: rgba(236, 216, 150, 0.7);
    margin: 1rem 10rem;
    text-align: center;
    border-radius: 7px;
    padding: 1rem;
    color: #322E6F;
  }
  h1{
    font-size: 3.5rem;
  }
  p.intro{
    font-weight: 800;
    color: black;
    font-size: 1.3rem;
  }
}
/*    end of introductory section styles    */
/*    start of content section styles    */
section.content .row .left{
  background-color: rgba(236, 216, 150, 0.7);
  margin: 1rem 1rem 1rem 2.6rem;
  border-radius: 7px;
  padding: 1rem;
}
section.content .row .right{
  background-color: rgba(236, 216, 150, 0.7);
  margin: 1rem;
  border-radius: 7px;
  padding: 1rem;
}
section.content label.date, section.content label.gender{
  font-family: 'Kreon', serif;
  font-size: 1.2rem;
} 
section.content .btn-outline-success{
  margin-top: 2.22rem;
  margin-left: 2rem;
}
@media (min-width: 350px){
  section.content .row .left{
    margin: 1rem;
    padding: 1rem;
  }
  section.content .row .right{
    margin: 1rem;
    padding: 1rem;
  }
}
@media (min-width: 768.9px){
  section.content .row .left{
    margin: 1rem 0.6rem 1rem 2.6rem;
    padding: 1rem;
  }
  section.content .row .right{
    margin: 1rem 1rem 1rem 2rem;
    padding: 1rem;
  }
}
@media (min-width: 991.9px){
  section.content .row .left{
    margin: 1rem 1rem 1rem 4rem;
    padding: 1rem;
  }
  section.content .row .right{
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem;
  }
}
@media (min-width: 1199.9px){
  section.content .row .left{
    margin: 1rem 0.7rem 1rem 8rem;
    padding: 1rem;
  }
  section.content .row .right{
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem;
  }
}
@media (min-width: 1300.9px){
  section.content .row .left{
    margin: 1rem 5rem 1rem 4rem;
    padding: 1rem;
  }
  section.content .row .right{
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem;
  }
}
/*    end of content section styles    */
/*    start of conclusion styles    */
section.conclusion h2{
  font-family: 'Metamorphous', cursive;
  font-size: 1.5rem;
}
section.conclusion p, .accordion-body{
  font-family: 'Kreon', serif;
  font-size: 1.3rem;
}
/*    end of conclusion section styles    */
/*    start of footer styles    */
footer{
  background-color: #ECD896;
  text-align: center;
  padding: 3rem;
}
.social li{
  display: inline-block;
  margin: 1rem;
}
.social li a i{
  color: #198754;
  border-color: #198754;
  border: solid 0.15rem #198754;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 2.8rem;
  font-size: 1.5rem;
  transition: .3s;
}
.social li a i:hover{
  color: #fff;
  background-color: #198754;
}
footer .row .copyright{
  padding-top: 3rem;
}
@media (min-width: 350px){
  h1{
    font-size: 2rem;
  }
  .social li{
    margin: 0.5rem;
  }
  .social li a i{
    border: solid 0.15rem #198754;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.4rem;
    font-size: 0.75rem;
    transition: .3s;
  }
  body{
    background-image: linear-gradient(rgba(0,0,0,0.4),  rgba(0,0,0,0.4)),url(https://images.unsplash.com/photo-1578677103277-409d1213df61?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1086&q=80);
    background-size: cover;
    position: absolute;
    background-repeat: repeat-y;
  }
  footer{
    padding: 1.2rem;
  }
}
@media (min-width: 480.9px){
  h1{
    font-size: 3rem;
  }
  .social li a i{
    border: solid 0.15rem #198754;
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    text-align: center;
    line-height: 2.1rem;
    font-size: 1.125rem;
    transition: .3s;
  }
  footer{
    padding: 2.25rem;
  }
  .social li{
    margin: 0.8rem;
  }
}
@media (min-width: 768.9px){
  h1{
    font-size: 3.5rem;
  }
  .social li a i{
    border: solid 0.15rem #198754;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 2.8rem;
    font-size: 1.5rem;
    transition: .3s;
  }
  footer{
    padding: 3rem;
  }
  .social li{
    margin: 1rem;
  }
}
/*    end of footer styles    */